# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.next/
out/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log

# Turbo
.turbo/

# Prisma
*.db
*.db-journal

# Remotion
packages/remotion/out/
